.advantages {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 320px;
}

.advantages__slogan {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
}

.advantages__intro {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

.advantages__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.advantages__item--white {
  background-color: #ffffff;
  color: #000000;
  width: 284px;
  display: flex;
  flex-wrap: wrap;
  margin: 24px 18px;
}

.advantages__item--icon {
  width: 39px;
  height: 37px;
}

.advantages__item--blue {
  background-color: hsl(203, 47%, 66%);
  color: #ffffff;
  padding: 33px 18px 40px;
}

.advantages__item--grey {
  background-color: #EEEEEE;
  padding: 24px 26px;
}

.advantages__item--photo {
  width: 320px;
  height: 260px;
  display: block;
}

.advantages__title {
  text-align: center;
}

.advantages__description {
  text-align: center;
}
