.main-header {
  background-color: #ffffff;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__link {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
  }
}

.main-header__logo {
  width: 185px;
  height: 96px;
  margin: 0 auto;
}

.logo {
  margin-left: 33px;
  display: block;

  @media (min-width: @tablet-width) {
    margin-left: 145px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 257px;
  }
}

.main-nav__list {
  list-style-type: none;
  background-color: hsl(203, 47%, 66%);
  margin: 0;
  padding: 0;
  text-align: center;
  width: 320px;

  @media (min-width: @tablet-width) {
    background-color: #ffffff;
    display: flex;
    width: 768px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-nav__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 17px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    border: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.main-nav {
  position: relative;
  width: auto;
  //min-height: 51px;
  background-color: #ffffff;
}


.main-nav__toggle {
  position: absolute;
  background-image: url("/img/icon-cross.svg");
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  background-color: hsl(203, 47%, 66%);
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__wrapper {
  position: static;
  min-height: 0;
}

.main-nav--opened .main-nav__toggle {
  margin-top: -84px;
  margin-right: 13px;
  background-color: #ffffff;
  background-image: url("/img/icon-menu.svg");
}

@media (max-width: @mobile-width-only) {
  .main-nav--opened .main-nav__list {
    display: none;
  }
}


.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 640px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}
