.main-footer {
  margin: 0 auto;
  width: 320px;
  background-color: #ffffff;
}

.main-footer__recomend {
  width: 166px;
  height: 26px;
  margin: 28px 77px;
}

.main-footer__icon {
  margin: 0;
  padding: 0;
}

.main-footer__social {
  display: flex;
  justify-content: center;
}

.social__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0;
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  height: 34px;
  margin: 40px 96px 23px;
}

