.main-container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.main-hero {
  width: 320px;
  display: block;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 518px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 518px;
  }
}

.hero-svg {
  position: absolute;
  width: 282px;
  height: 214px;
  margin-top: -308px;
  margin-left: 18px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.pattern {
  position: absolute;
  margin-top: -57px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
